/* ********** SHOWREEL ********** */
.showreel{
  color: #000;
}
/* ********** CURTAIN ********** */
 .curtain {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
}
.curtain-left,
.curtain-right {
  background-color: #fff;
  font-family: 'PureHeart-Regular', "Arial-black", sans-serif;
  font-size: 12rem;
  position: absolute;
  top: 148px;
  padding-top: 10%;
  height: 80%;
  width: 50%;
  transition: -webkit-transform .8s ease-out;
  transition: transform .8s ease-out;
}
.curtain-left {
  color: #f44d3d;
  justify-content: flex-end;
  left: 0;
  z-index: 2;
}
.curtain-right {
  right: 0;
  justify-content: flex-start;
  z-index: 1;
}
div#show {
  justify-content: flex-end;
}
div#reel {
  justify-content: flex-start;
}
.curtain:hover .curtain-left {
  -webkit-transform: translate3d(-101%, 0, 0);
  transform: translate3d(-105%, 0, 0);
}
.curtain:hover .curtain-right {
  -webkit-transform: translate3d(101%, 0, 0);
  transform: translate3d(105%, 0, 0);
}
