/* ********** SHOWREEL ********** */
.showreel{
  color: #000;
  position: relative;
  margin-bottom: 7.5rem;
}
/* ********** SHOWREEL NAVBAR ********** */
.showreel .nav-burger span {
  background: black;
}
/* ********** CURTAIN ********** */
 .curtain {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
}
.curtain-left,
.curtain-right {
  background-color: #fff;
  font-family: 'PureHeart-Regular', "Arial-black", sans-serif;
  font-size: 12rem;
  position: absolute;
  top: 148px;
  padding-top: 10%;
  height: 80%;
  width: 50%;
  transition: -webkit-transform .8s ease-out;
  transition: transform .8s ease-out;
}
.curtain-left {
  color: #f44d3d;
  justify-content: flex-end;
  left: 0;
  z-index: 2;
}
.curtain-right {
  right: 0;
  justify-content: flex-start;
  z-index: 1;
}
.curtain:hover .curtain-left {
  -webkit-transform: translate3d(-105%, 0, 0);
  transform: translate3d(-105%, 0, 0);
}
.curtain:hover .curtain-right {
  -webkit-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
}
div#show {
  justify-content: flex-end;
}
div#reel {
  justify-content: flex-start;
}
.slide-arrow {
  display: inline-block;
  width: 550px;
  height: 550px;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
  animation: arrow-wave .5s infinite;
  animation-direction: alternate;
}
#arrows-left,
#arrows-right {
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}
#arrows-right span:nth-child(2),
#arrows-right span:nth-child(3) {
  margin-left: -25%;
}
#arrows-left span:first-child,
#arrows-left span:nth-child(2) {
  margin-right: -25%;
}
#arrows-left {
  right: -22%;
}
#arrows-right {
  left: -22%;
}
#arrows-right .slide-arrow {
  transform: rotate(135deg);
}
#arrows-left .slide-arrow {
  transform: rotate(-45deg);
}
.slide-arrow:nth-child(1) {
  animation-delay: 0.1s;
}
.slide-arrow:nth-child(2) {
  animation-delay: 0.2s;
}
.slide-arrow:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes arrow-wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
