*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  color: #fff;
  font-family: "Arial", sans-serif;
  line-height: 1.3;
}
section {
  height: 100vh;
  /* background-size: cover;
  background-attachment: fixed; */
}
/* ********** COMMON STYLE ********** */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-column {
  flex-direction: column;
}
/* ********** ANIMATION CLASSES ********** */
.fade-in {
  opacity: 1;
  transform: scale(1);
  transition: all 1s ease-in;
}
.slide-up{
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1s ease-out;
}
/* ********** NAV / MENU ********** */
nav.flex {
  position: relative;
  animation: slide-left 1.5s linear;
  -webkit-animation: slide-left 1.5s linear;
}
.nav-menu {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-right: 12px;
}
.nav-burger span {
  display: block;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 4px;
  position: relative;
  height: 3px;
  width: 19px;
}
.nav-burger span:nth-child(2) {
  transform: translateX(25%);
}

@-webkit-keyframes slide-left {
  0%   {
    font-style: italic;
    opacity: 0;
    right:-300px;
  }
  100% {
    font-style: italic;
    opacity: 1;
    right:0px;
  }
}
/* ********* SHOWREEL NAV ********** */
.showreel .nav-burger span {
  background: black;
}
.navbar.flex {
  justify-content: space-between;
  margin-top: -120px;
  padding: 1rem 4rem;
  width: 100%;
}
.nav-logo img {
  /* opacity: 0; */
  /* transform: scale(.7); */
  transition: all 1s;
  width: 200px;
}
/* .fade-in img {
  opacity: 1;
  transform: scale(1);
} */
